<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <h1>Регистрация</h1>
    <form id='register-form' action='/auth/register' method='POST'>
      <label for='firstName'>Имя:</label>
      <input type='text' id='firstName' name='firstName' required />
      <label for='lastName'>Фамилия:</label>
      <input type='text' id='lastName' name='lastName' required />
      <label for='email'>Email:</label>
      <input type='email' id='email' name='email' required />
      <label for='password'>Пароль:</label>
      <input type='password' id='password' name='password' required />
      <label for='role'>Роль:</label>
      <select id='role' name='role' required>
        <option value='student'>Студент</option>
        <option value='teacher'>Преподаватель</option>
        <option value='admin'>Администратор</option>
      </select>
      <button type='submit'>Зарегистрироваться</button>
    </form>

    <script>
      $(document).ready(function() {
        // Инициализация select элемента Materialize
        $('select').formSelect();

        // Ограничение ввода в поля имени и фамилии
        $("#firstName, #lastName").on('input', function() {
          this.value = this.value.replace(/[^a-zA-Zа-яА-ЯёЁ]/g, '');
        });

        $("#register-form").submit(function(e) {
          e.preventDefault();
          const form = $(this);
          $.post(form.attr('action'), form.serialize()).done(function(response) {
            if (response.message === 'Пользователь с таким email уже существует') {
              M.toast({html: response.message, classes: 'rounded red'});
            } else if (response.message === 'Регистрация прошла успешно') {
              M.toast({html: response.message, classes: '#26a69a teal lighten-1 rounded'});
              setTimeout(function() {
                window.location.href = '/auth/login';
              }, 1500);
            } else {
              M.toast({html: response.message, classes: 'rounded red'});
            }
          }).fail(function(xhr) {
            if (xhr.responseJSON && xhr.responseJSON.message) {
              M.toast({html: xhr.responseJSON.message, classes: 'rounded red'});
            } else {
              M.toast({html: 'Произошла ошибка при попытке регистрации', classes: 'rounded red'});
            }
          });
        });
      });
    </script>
  </body>
</html>