<aside class='sidebar'>
  <div class='logo'>
    <img src='/images/logo.svg' alt='Лого' />
    <span>ООО "Платоникс"</span>
  </div>
  <nav class='menu'>
    <ul>
      <li><a href='/schedule'>Расписание</a></li>
      <li><a href='/groups'>Группы</a></li>
    </ul>
  </nav>
</aside>