<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/EdTech-practice/public/css/styles.css">
    <!-- Подключение Materialize CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Подключение скриптов -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
{{> head}}
<body>
    {{> header}}
    <div class="container">
        {{#if isAuthenticated}}
            {{> sidebar}}
        {{/if}}
        <div class="main-content">
            <main class="content">
                {{{body}}}
            </main>
        </div>
    </div>
</body>
</html>