body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0ffff;
}

.container {
  display: flex;
  margin: 0 0;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #924bf6;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-left: 20px;
  padding-top: 4px;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
  width: 34px;
  height: auto;
}

.logo span {
  margin-left: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 20px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  text-decoration: underline;
}

.main-content {
  margin-left: 220px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #924bf6;
  color: white;
  padding: 10px;
  text-align: right;
}

.content {
  flex-grow: 1;
  padding-left: 40px;
  padding-top: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}
