<body>
  <div class="content" id="content">
  <div class="col-12 d-flex justify-content-center">
    
    
      <i class="material-icons" style="font-size: 24px; color: #007bff; cursor: pointer;" onclick="location.href='/groups';">arrow_back</i>
      
    

</div>
  <h1>Создать новую учебную группу</h1>
  <form id='new-group-form' action='/groups/new' method='POST'>
    <label for='name'>Название:</label>
    <input type='text' id='name' name='name' required />
    <button type='submit' class="btn">Создать</button>
  </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#new-group-form").submit(function(e) {
        e.preventDefault();
        const form = $(this);
        $.post(form.attr('action'), form.serialize()).done(function(response) {
          if (response.message === 'Группа успешно создана!') {
            M.toast({html: response.message, classes: '#26a69a teal lighten-1 rounded'});
            $("#new-group-form").trigger("reset");
          } else {
            M.toast({html: response.message, classes: 'rounded red'});
          }
        }).fail(function(xhr) {
          if (xhr.responseJSON && xhr.responseJSON.message) {
            M.toast({html: xhr.responseJSON.message, classes: 'rounded red'});
          } else {
            M.toast({html: 'Ошибка: не удалось создать группу!', classes: 'rounded red'});
          }
        });
      });
    });

     function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const header = document.getElementById('header');
            const content = document.getElementById('content');
            sidebar.classList.toggle('visible');
            header.classList.toggle('sidebar-open');
            content.classList.toggle('sidebar-open');
        }

            function closeSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const header = document.getElementById('header');
            const content = document.getElementById('content');
            sidebar.classList.remove('visible');
            header.classList.remove('sidebar-open');
            content.classList.remove('sidebar-open');
            }
  </script>
</body>
